/* style.css */
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #e8ebef;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 2.5rem;
    box-sizing: border-box;
    flex-wrap: wrap;
  }
  
  .left-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    min-width: 300px;
  }
  
  .title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 3px;
  }
  
  .current-number {
    width: 100px;
    height: 100px;
    border-radius: 9999px;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: bold;
    -webkit-box-shadow: 3px 3px 7px -4px #8e8e8e; 
    box-shadow: 3px 3px 7px -4px #8e8e8e;
  }
  
  .button-group {
    display: flex;
    gap: 1.5rem;
    width: 100%;
    min-width: 100px;
    justify-content: center;
  }
  
  .button {
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    border: none;
    cursor: pointer;
  }
  
  .blue-button, .red-button {
    color: white;
    font-size: 20px;
    font-weight: bold;
  }

  .blue-button {
    background-color: #82c0e5;
  }

  .blue-button:hover {
    background-color: #9cc7df;
  }
  
  .red-button {
    background-color: #dc9bc2;
  }

  .red-button:hover {
    background-color: #daaac7;
  }
  
  .right-panel {
    width: 60%;
    min-width: 300px;
  }
  
  .number-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 0.75rem;
    justify-items: center;
  }
  
  .number-box {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .drawn {
    background-color: #82c0e5; 
    /* background-color: #9da5aa; */
    color: white;
  }
  
  .not-drawn {
    background-color: #f5f5f4;
  }

  .number-grid span {
    -webkit-box-shadow: 3px 3px 7px -4px #8e8e8e; 
    box-shadow: 3px 3px 7px -4px #8e8e8e;
  }
  
  @media (max-width: 830px) {

    body {
      flex-direction: column;
      padding: 1rem;
    }

    .current-number {
      margin: 35px;
    }
  
    .left-panel, .right-panel {
      width: 100%;
    }

    .blue-button, .red-button {
      font-size: 1rem;
    }
  
    .button-group {
      width: 100%;
      padding-bottom: 35px;
    }
  
    .number-grid {
      grid-template-columns: repeat(6, 1fr);
    }

  }
  